body {
    background-image: url(cincinnati.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*
.container{
    background: linear-gradient(to left, #00ccff, #b3f0ff);
    box-shadow: 3px 5px 3px black;
}
*/

#foo {
    color: purple;
}

[id="foo"] {
    color: cyan;
}


.container h1 {
    color: green;
}


div h1 {
    color: red;
}


h1,
h2,
h3 {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
    line-height: 1rem;
    font-family: sans-serif;
}


.borderImg {
    border: 10px dashed blue;
}

color:darkblue;
font-size:20px;
}

/*
any unordered list that has a child of list item
*/

ul > li {
    color: red;
}
